.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;

}
.viewContainer{
  min-width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: slateblue;
  color: white;
  
}
.topView{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

}
.resultView{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

}
.formContainer{
  padding: 1rem;
  display: flex;
  flex-direction: column;

}